<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}/"><img src="{{ domain }}/images/logo-blog.png" style="max-width: 100%; max-height:60px;margin-top: -15px" alt="" /></a>
		<!--<a href="{{ site.url }}/">{{ site.title }}</a>-->
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
